<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>
        Create a form with the following Controls and Validators
      </h1>
      <ol>
        <li>Project Name (should not be empty)</li>
        <li>Mail (should not be a empty and a valid email)</li>
        <li>Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'</li>
        <li>Submit Button</li>
        <li>Add your own Validator which doesn't allow "Test" as a Project Name</li>
        <li>Also implement that Validator as an async Validator (replace the other one)</li>
        <li>Upon submitting the form, simply print the value to the console</li>
      </ol>
    </div>
  </div>

  <router-outlet>
  </router-outlet>
</div>