<div class="row">
    <div class="col-xs-8">
        <form [formGroup]="projectForm" (submit)="onSubmit()">
            <div class="form-group">
                <label for="projectName">Project Name</label>
                <input type="text" class="form-control" id="projectName" formControlName="projectName">
                <div *ngIf="projectForm.get('projectName').errors != null && projectForm.get('projectName').touched">
                    <span class="text-danger" *ngIf="projectForm.get('projectName').errors['required']">
                        Please enter Project Name!
                    </span>
                    <span class="text-danger" *ngIf="projectForm.get('projectName').errors['incorrectProjectName']">
                        Please enter Project Name different from Test!
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email">

                <div *ngIf="projectForm.get('email').errors != null && projectForm.get('email').touched">
                    <span class="text-danger" *ngIf="projectForm.get('email').errors['required']">
                        Please enter Email!
                    </span>
                    <span class="text-danger" *ngIf="projectForm.get('email').errors['email']">
                        Please enter correct Email!
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="projectStatus">Project Status</label>
                <select class="form-control" id="projectStatus" formControlName="projectStatus">
                    <option *ngFor="let status of projStatuses" [id]="status.id" [value]="status.id">
                        {{status.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" [disabled]="!projectForm.valid">Submit</button>
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>